div {
  box-sizing: border-box;
  background-color: #673ab7;
  text-align: right;
}

h1 {
  margin: 0;
  padding: 1em 1em 0.5em 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: bold;
}
